$primary: #b62202;
//fuentes
$font-light: #fff;
$font-grey: #778;
$font_dark: #000;

//formularios
$border-light: #fff;
$border-grey-light: #a7a7;
$border-grey: #444444;

//backgrounds
$background-light: #fff;
$backgorund-grey-light: #eee;
$background-grey: #a7a7a7;
$background-grey-dark: #363636;
$background-dark: #151515;
$background-dark-absolute: #000;

$success: #69af00;
