.basic-layout {
  min-height: 100vh;
  background-image: url("https://tienda-ecomerce.s3.us-west-1.amazonaws.com/static/1302f06fea4b6995b393e4119ded31bc.jpg");
  background-size: cover;
  background-position: center;

  .content {
    background-color: $backgorund-grey-light;
    height: calc(100vh-130px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
